.container{
    width:400px;
    height: 500px;
    border: 2px solid black;
    padding-left: 12px;
    margin-top: 20px;
}
.input-text input{
  
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
    height: 50px;
    font-size: 40px;
    text-align: end;
    padding-right: 10px;
    border: none;
}
.operation button{
    background-color: orange;
}
.erase-input button{
    background-color: rgba(255, 0, 0, 0.737);
}